<h1>{{conteudo}}</h1>
<img src="/img/vigilantes.png" alt="O jogo">
<p>
  Desmatamento, também chamado de desflorestamento, consiste na retirada da cobertura vegetal parcial ou total de
  um
  determinado lugar. Enquanto alguns enxergam essa prática como uma ação necessária ao suprimento das necessidades
  do ser
  humano, outros apontam o desmatamento como um dos maiores problemas ambientais da atualidade. A retirada da
  cobertura
  vegetal está relacionada a diversas causas, como a urbanização, mineração e expansão do agronegócio, e seus
  impactos são
  inúmeros.
</p>
<p>
  Para conscientizar a população, jogue o <b>Vigilantes da Floresta</b> para ver como é difícil apagar um incêndio
  florestal
</p>