.container {
  margin-bottom: 5px;
}

input {
  width: 60px;
}

button {
  margin: 10px 0;
}

#graph {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.bar {
  background-color: red;
}