* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: url('./images/imagem.jpg');
  background-size: 90% 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #59369E;
}

div {
  width: 500px;
  margin: 10% 0 0 120px;
  border: 10px solid #F26E85;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 0.8;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  box-shadow: 2px 2px 5px 2px gray, 2px 2px 4px 2px gray inset;;
}

h1 {
  padding: 20px 15px;
}

p {
  font-size: 21px;
  padding: 0 15px 10px 15px;
}