<h2>
  Adicionar Curso <a href="/curso" class="btn btn-primary">Voltar</a>
</h2>

<form action="/curso/create" method="post">

  <input type="hidden" name="_csrf" value="{{csrf}}">

  <div class="form-group">
    <label for="sigla">Sigla do curso</label>
    <input type="text" class="form-control" name="sigla" id="sigla" placeholder="Informe a sigla do curso">
    <small class="form-text text-muted">Em caso de dúvidas, consulte o site da UFAM</small>
  </div>
  
  <div class="form-group">
    <label for="nome">Nome do curso</label>
    <input type="text" class="form-control" name="nome" id="nome" placeholder="Informe o nome do curso">
  </div>
  
  <div class="form-group">
    <label for="descricao">Descrição do curso</label>
    <textarea class="form-control" name="descricao" id="descricao" rows="3"></textarea>
  </div>
  
  <fieldset class="form-group">
    <legend>Área da ciência</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="area" id="area" value="1" checked>
        Ciências Exatas. Ex: Computação, Matemática, Estatística, etc.
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="area" id="area" value="2">
        Ciências Humanas. Ex: Letras, História, Psicologia, etc.
      </label>
    </div>
    <div class="form-check disabled">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="area" id="area" value="3">
        Ciências Biológicas. Ex: Medina, Odonto, Agronomia, etc.
      </label>
    </div>
  </fieldset>
  
  <button type="submit" class="btn btn-primary">Adicionar curso</button>

</form>
